.list {
  width: 90%;
  max-width: 40rem;
  margin: 5rem auto;
}






/* css style as a module is new for me so i may have to drill digest and 
visualize */


/* so yaha pe kuch-kuch chize hai jisko ki humko drill karna hai. */


/* firt of all css as a module/ style as a module hai kya  */


/* isko configure kaise karte hai  */

/* iska behavior kya hai */


/* final code me mera diya hua className and id will change */